.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  margin-top: 10vh;
}

.vertical-bar {
  background-color: teal;
  padding: 2px;
  margin: 2px;
  flex-basis: 100%;
}
